<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %>
    </title>
    <style>
        <%- include('./style.css') %>
    </style>
</head>
<body>
    <nav>
        <div>
            <a href="#"><img  class="logo" src="../assets/logo.png " alt="logo"></a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#">About Me</a></li> -->
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
     </nav>