<%- include('partials/header') %>

<div class="background-image">
<div class="align">
    <h1> My Awesome Website</h1>
    <h2>See my Portfolio</h2>
    
</div>
</div> 
<%- include('partials/footer') %>